.stylised-form {
	display: table;
	padding: 2em;

	.input {
		width: 80%;
		margin-left: 10%;
	}

	.input,
	.textarea {
		padding: 0.3em;
		font-size: 0.9em;
		font-weight: 200;
		@include border-radius(3px);
		border: 1px solid $color-grey_light;

		&:focus {
			outline-offset: -2px;
			outline: $color-primary_light auto 5px;
		}
	}

	.label {
		margin: 0.4em 1.5em 0.8em 0;
		clear: both;
		font-family: $font-headings;
	}

	.submit {
		margin-top: 1.6em;
		padding: 0.8em 0.4em;
		font-family: $font-headings;
		font-size: 1.1em;
	}

}// form
