$font-body: 					"Cambo-Regular","Lucida Bright", Georgia, serif;
$font-headings: 			$font-body;
$font-icons: 					"fontawesome";

$noUnit-font-size:    16;
$base-font-size: 			$noUnit-font-size * 1px;
